[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
pytest = "*"
twine = "*"
flake8 = "*"
black = "*"

[packages]
requests = {extras = ["security"],version = "*"}

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
