[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
pytest = "*"
twine = "*"

[packages]
requests = {extras = ["security"],version = "*"}

[requires]
python_version = "3.7"
